.nav_bar a {
    color: #a46bbf;
    font-family: monospace;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}
.nav_bar {
    background-color: #e6f7ff;
    border: 3px solid #80d4ff;
    border-radius: 15px;
}
.nav_bar ul {
    display: block;
    list-style-type: none;
    padding-inline-start: 1rem;
    margin: .5rem;
}
.nav_bar ul li {
    display: inline;
    margin-right: .5rem;
}
#title {
    display: flex;
    margin-bottom: 1rem;
}

#title img {
    border: 3px solid #80d4ff;
    border-radius: 15px;
}
#title a {
    font-family: 'Pacifico';
    color: #a46bbf;
    padding: 0px 10px;
    font-size: 40px;
    text-decoration: none;
    margin: auto 0;
    height: auto;
}
.about {
    background-color: #e6f7ff;
    border: 3px dashed #80d4ff;
    border-radius: 15px;
    text-align: center;
    font-family: monospace;
    font-size: 15px;
    color: #a46bbf;
    padding: 5px;
}
.about p {
    margin: 0px;
}
.newest_patterns .container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
    justify-content: center;
}
.newest_patterns h1 {
    text-align: center;
    font-family: 'Pacifico';
    font-size: 25px;
    margin: 0px;
    color: #a46bbf;
}
.newest_patterns img {
    padding: 5px;
    padding-left: 7px;
    border-radius: 5px;
    width: 95%;
    height: auto;
    max-width: 100%;
}
.newest_patterns article {
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 5px;
    width: 24.99999%;
    padding: 5px;
    box-sizing: border-box;
}
@media only screen and (max-width: 1000px) {
    .newest_patterns article {
        width: 40%;
    }
    .nav_bar a {
        font-size: 15px;
    }
   }
  @media only screen and (max-width: 700px) {
      .newest_patterns article {
        width: 100%;
  }
}
.newest_patterns h4 {
    font-family: monospace;
    padding: 0px 10px;
    text-align: center;
    font-size: 15px;
    margin: 0px;
}
.newest_patterns p {
    font-family: monospace;
    padding: 10px 10px;
    text-align: justify;
    font-size: 14px;
    margin: 0px;
    text-align: center;
}

footer {
    margin-top: 2rem;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-flow: column nowrap;
}
footer p {
    margin: 0;
    color: #999999;
    font-size: 12px;
}